.button {
	background-color: #24a2b5;
	border: 1px solid #1F8B9C;
	color: white;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 2rem 1rem;
	font-size: 1.6rem;
}

@media (max-height: 320px) {
	.button {
		padding: 1rem;
		font-size: 1.4rem;
	}
}

@media (max-width: 560px) {
	/*
	A little hacky way of centering the buttons - and not at all reusable

	TODO: Add a flex container...
	*/
	.button {
		width: 46%;
		display: inline-block;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.button:first-of-type {
		margin-right: 8%;
	}
}


.button:focus,
.button:active {
	outline: none;
	box-shadow: none;
}


.button:hover {
	background-color: #1F8B9C;
}


.button[disabled]:hover,
.button[disabled] {
	background-color: #E1ECED;
	cursor: default;
	border: 1px solid #CCDFE0;
}


.button .fa {
	display: block;
	font-size: 3rem;
}