.card {
	font-family: 'Abril Fatface', cursive;
	font-size: 4.5rem;
	text-align: center;
	position: relative;
	transition: transform .25s ease-in-out, box-shadow .2s ease-in-out;
	z-index: 1;
	cursor: pointer;

	margin: 1rem;

	background-color: #E1ECED;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);

	// typical poker playing cards measure 3.5x2.5"
	// https://en.wikipedia.org/wiki/Standard_52-card_deck#Size_of_the_cards
	width: calc(25rem/2);
	height: calc(35rem/2);

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	z-index: 2;
}

@media (max-width: 1020px) {
	.card {
		width: calc(25rem/2.5);
		height: calc(35rem/2.5);
	}
}

@media (max-width: 640px) and (max-height: 360px) {
	.card {
		width: calc(25rem/2.5);
		height: calc(25rem/2.5);
		font-size: 3rem;
	}
}


@media (max-width: 320px) {
	.card {
		width: calc(25rem/3);
		height: calc(35rem/3);
		font-size: 3rem;
	}
}


// We add the back of our images to the :before pseudo element (because who needs extra markup?)
.card:before {
	content: "";
	z-index: 1;
	transform: rotateY(180deg);
	width: 100%;
	height: 100%;
	position: absolute;
	top: -2px;
	left: -2px;
	box-sizing: content-box;

	text-indent: -999em;
	overflow: hidden;

	// Yes, I stole these images. Guess from who?
	background: url(../../static/images/scanline-pattern.png),
							url(../../static/images/dark-grunge-texture.png),
							linear-gradient( #0091b3 0%, #000813 100%);
	background-size: 1px 3px, 668px 628px;
}

.card,
.card:before {
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border-radius: 1rem;
	border: 2px solid #111;
	backface-visibility: hidden; // backface-visibility - as it turns out - unables click events... that's an issue. But we have the button.
}

/*
	Let's skip the animations for smaller devices.
	One could argue because of battery-drain...
	...but really, they don't look so good without some extra love and effort (time).
*/
@media (min-width: 768px){
	.card.SELECT {
		animation-name: DEAL;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
	}

	.card.hidden.WAITING {
		animation-name: REMOVE;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
	}
}

.card.selected-card.WAITING {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;

	transform: rotateY(180deg)
}

.card.hidden.WAITING,
.card.hidden.REVEAL {
	transform: translate(-20rem, 200vw); opacity: 0;
}

.card.SELECT:hover {
	transform: translateY(-2.0rem) rotate(8deg) scale(1.05);
	box-shadow: 0 4px 10px rgba(0,0,0,.3);
	z-index: 2;
}

// Some animations is needed for a card "game"
// Shuffle up and...

@keyframes DEAL {
	0%	  { transform: translate(-20rem, 200vw); opacity: 0; }
	1%    { opacity: 1; }
	100%	{ transform: translate(0, 0) }
}

// Remove the cards when we have our one selected
// Pretty much reversed DEAL animation
@keyframes REMOVE {
	0%	  { transform: translate(0, 0) }
	99%   { opacity: 1; }
	100%	{ transform: translate(-20rem, 200vw); opacity: 0; }
}
