

html {
	font-size: 10px; // Easy to calculate REM units from
}

@media (max-width: 768px){
	html {
		font-size: 7px; // For smaller devices we set a smaller base font size
	}
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem; // 16px
	background-color: #eee;
	color: #111;
	margin: 0;
	padding: 0;
}

#app, html, body {
	height: 100%;
}

// Flex wrapper for main layout
.wrapper {
	background-color: #24a2b5;
	overflow: hidden; // prevent scrollbar when cards are "dealt"
	z-index: 2;
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: stretch;
	min-height: 100vh;

}

@media (max-width: 560px) {
	/*
	in smaller devices we stack
	the elements in a column instead of a row
	- how nice is flexbox? answer: very nice!
	*/
	.wrapper {
		flex-direction: column;
		min-height: 100%;
	}
}