.playboard {
	flex: 2 0px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	padding: 3rem 1rem;
	box-sizing: border-box; // the padding should be on the "inside"

	perspective: 1000px; // for the flip transition

}

@media (max-width: 560px) {
	.playboard {
		padding-top: 6rem; // make room for bigger help button
		flex: 1 auto;
	}
}