.sidebar {
	flex: 1 0px;
	padding: 1rem 2rem;
	box-sizing: border-box;
	background-color: #fdfdfd;
	border-left: 0px solid #CCDFE0;
	max-width: 280px;
	z-index: 10; // to prevent cards from flying "over" the sidebar
	background: linear-gradient( #fdfdfd 0%, #eee 100%);
}


// smaller (hand-held) devices
@media (max-width: 560px) {
	.sidebar {
		max-width: 100%;
		flex: 1 auto;
		border-left: none;
	}
}


.app-title {
	font-size: 2rem;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	text-align: right;
	color: #24a2b5;
}


.users {
	border-radius: 3px;
	overflow: hidden;
	margin-top: 1.6rem;
	border: 1px solid #CCDFE0;
	background-color: #E1ECED;
	font-size: 1.4rem;
}

.user {
	padding: 1rem;
	box-sizing: border-box;
}

@media (max-width: 560px) {
	/*
	in smaller devices
	we put the users-list to the bottom
	of the screen - resulting
	in a wider playboard.
	*/
	.users {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: 25vh;
		overflow-y: scroll;
		border-radius: 0;

		display: flex;
		flex-direction: row;
	}

	.user {
		max-width: 50%;
	}
}

.user:nth-child(even) {
	background-color: #CCDFE0;
}
